# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python/virtualenvs/

# Django
django.db.sqlite3.db
*.sqlite3*
db.sqlite3
htmlcov/
.coverage

# Environment variables
.env

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
*.log

# Temporary files
tmp/
temp/

# Virtual environments
venv/
.venv/
env/
.env/

staticfiles/
checklists.txt
